@charset "utf-8";
.main-top-bg{
  background:#333;
  width:100%;
  height:93px;
  .main-top{
    width:1200px;
    margin:0 auto;
    padding-top:10px;
    color:#fff;
    .main-login{
      width:400px;
      height:34px;
      line-height:34px;
      float:left;
      a{
        color:#fff;
        float:left;
        padding:0 6px 0 4px;
        cursor: pointer;
        ul{
          line-height: 16px;
          position:relative;
          top:-8px;
          background:#fff;
          color:#000;
          cursor: pointer;
          display:none;
          z-index: 120;
        }
      }
      a:nth-of-type(3):hover{
        background:#fff;
        color:orangered;
        ul{
          display:block;
          li:hover{
            color:orangered;
          }
        }
      }
      a:hover{
        color:orangered;
      }
    }
  }
}
.main-logo{
  margin-left:50px;
  display:inline-block;
  width:212px;
  height:32px;
  background:url("../images/spriter2016.png") no-repeat 0 0;
  z-index: 100;
}
.main-search{
  float:right;
  display:inline-block;
  input{
    width:263px;
    height:28.5px;
    border:1px solid #a9a9a9;
    color:initial;
    background-color:initial;
  }
}
.main-nav{
  width:1200px;
  height:43.75px;
  text-align:center;
  margin:5px auto 0;
  background:rgba(051,051,051,1);
  z-index: 1000;
  li{
    display:inline-block;
    a{
      color:#e3e3e3;
      font-size:15px;
      display:inline-block;
      padding:10px 15px 10px;
      margin:0 6px;
      border-bottom:2px solid #333;
    }
  }
  li:nth-of-type(1){
    a{
      border-color:#727071;
    }
  }
  li:hover{
    a{
      border-color:#727071;
    }
  }
  li:nth-of-type(6){
    a{
      color:#dc0f21;
    }
  }
}
.main-big-nav{
  width:100%;
  height:42px;
  background:rgba(247,247,247,0.7);
  border-bottom:1px solid #fff;
  z-index: 1000;
  .main-nb{
    width:1200px;
    margin:0 auto;
    text-align:center;
    li{
      display:inline-block;
      width:62px;
      text-align:center;
      position: relative;
      a{
        font-size:15px;
        display:inline-block;
        height:42px;
        line-height:42px;
        margin-right:5px;
        color:#000;
      }
      div{
        position: absolute;
        top:42px;
        left:0;
        border:2px solid #f7f7f7;
        border-top:0;
        width:716px;
        padding:10px 10px 0 15px;
        height:382px;
        display:none;
        background:url("../images/subumenu.PNG") no-repeat;
        z-index: 1000;
      }
    }
    li:hover{
        border-left:2px solid #f7f7f7;
        border-right:2px solid #f7f7f7;
        border-bottom:2px solid #fff;
        background:#fff;
        box-sizing: border-box;
      div{
        display:block;
      }
    }
  }
}

