<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" href="../css/shopcar.css">
    <script src="../js/lib/jquery-1.12.4.js"></script>
    <script src="../js/angular/angular.min.js"></script>
    <script src="../js/app/shopcar.js"></script>
</head>
<body ng-app="myApp">
<div class="s-top-bg">
    <img class="s-top-logo" src="../images/s_05.png" alt="">
    <p class="s-top-phone">客服热线（免长途费）：<span>400-888-4499</span> <a href="javascript:;">在线客服</a></p>
    <p class="s-top-uname">您好！欢迎光临走秀网！<a href="javascript:;">[登录/注册]</a>|<a href="javascript:;">帮助中心</a></p>
</div>
<div class="s-top-next">
    <div class="s-top s-top-1">1.我的购物袋 <span></span></div>
    <div class="s-top s-top-2">2.填写并核对订单信息 <span></span></div>
    <div class="s-top s-top-3">3.成功提交订单</div>
</div>
<div class="s-goods" ng-controller="myCtrl1">
    <table class="s-shop-goods">
        <tr class="s-good-nav">
            <th><input type="checkbox">全选</th>
            <th>商品</th>
            <th>购买价（元）</th>
            <th>小计（元）</th>
            <th>数量</th>
            <th>操作</th>
        </tr>
        <tr class="s-good-msg">
            <td><input type="checkbox"></td>
            <td>
                <img ng-src="{{image}}" alt="">
                <ul>
                    <li>{{uname}}</li>
                    <li><a href="javascript:;">{{msg}}</a></li>
                    <li>{{size}}</li>
                </ul>
            </td>
            <td ng-model="price">{{price | currency:"￥"}}</td>
            <td>{{money | currency:"￥"}}</td>
            <td>
                <a class="s-jian" href="javascript:;">-</a>
                <input class="s-num" type="text" ng-model="num">
                <a class="s-add" href="javascript:;">+</a>
            </td>
            <td>
                <ul>
                    <li><a href="javascript:;">移至收藏夹</a></li>
                    <li><a href="javascript:;">删除</a></li>
                </ul>
            </td>
        </tr>
    </table>
    <div class="s-good-end">
        <ul>
            <li><input type="checkbox">全选</li>
            <li>删除</li>
            <li>清楚失效商品</li>
            <li></li>
        </ul>
    </div>
</div>
</body>
</html>